.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("images/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-color: hsl(0, 100%, 74%);
  font-family: "Poppins", sans-serif;
  color: white;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  padding: 0 20px;
}

.text-content {
  padding: 0 100px;
}

.text-content h1 {
  font-size: 50px;
  line-height: 1.2;
}

.text-content p {
  font-size: 16px;
  padding-top: 30px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.trial {
  width: 100%;
  max-width: 500px;
  background-color: hsl(248, 32%, 49%);
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 5px rgba(0, 0, 0, 0.2);
}

.form-card {
  width: 100%;
  max-width: 500px;
  background-color: white;
  padding: 30px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 5px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.form-control input {
  display: block;
  width: 100%;
  padding: 15px 10px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid hsl(246, 25%, 77%);
}

.form-control.error input {
  color: hsl(0, 100%, 74%);
  border-color: hsl(0, 100%, 74%);
}

.form-control.error input::placeholder {
  color: hsl(0, 100%, 74%);
}

.form-control input:focus {
  border: 1px solid hsl(248, 32%, 49%);
  outline: none;
}

.form-control {
  position: relative;
  margin-bottom: 30px;
}

.form-control small {
  color: grey;
  display: none;
  margin: 10px;
  float: right;
  color: hsl(0, 100%, 74%);
  font-weight: 600;
  font-style: italic;
}

.form-control img {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
}

button {
  width: 100%;
  color: white;
  background-color: hsl(154, 59%, 51%);
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  letter-spacing: 1px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  transform: translate3d(0, -8px, 0);
}

/* terms and services section */
.terms-services {
  color: #bbb;
  font-size: 12px;
  font-weight: 500;
}
.terms-services a {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
  text-decoration: none;
}

.error {
  color: hsl(0, 100%, 74%);
  border-color: hsl(0, 100%, 74%);
}

/* media screens */
@media (max-width: 840px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 1rem;
    text-align: center;
  }

  .text-content {
    padding: 20px;
  }

  .text-content h1 {
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
  }
}
